@import "/src/styles/variables.scss";

.back-btn {
    height: 100%;
    width: 64px;
    background-color: $grey-2;
    border: none;
    outline: none;
    border-right: 1px solid #eaeaea;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
        cursor: pointer;
    }
}
