{
    "tabWidth": 4,
    "endOfLine": "crlf",
    "overrides": [
        {
            "files": ["**/*.hbs", "**/*.html"],
            "options": {
                "parser": "angular"
            }
        }
    ]
}
