@font-face {
    font-family: Inter;
    font-weight: 500;
    src: url("/public/fonts/Inter-Medium.ttf");
}

@font-face {
    font-family: Inter;
    font-weight: 600;
    src: url("/public/fonts/Inter-SemiBold.ttf");
}

@font-face {
    font-family: Inter;
    font-weight: 700;
    src: url("/public/fonts/Inter-Bold.ttf");
}
