// colors
$blue: #3369f3;
$black: #1e1e1e;
$grey: #999999;
$grey-2: #fbfbfb;
$grey-3: #efefef;
$grey-4: #eaeaea;
$white: #ffffff;
$red: #ff0000;
$red-2: #ff2f2f;

// dimensions
$app-width: 1280px;

// fonts
$inter: Inter, Roboto, Arial, sans-serif;
