@import "/src/styles/variables.scss";

.profile-info {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $grey-4;
    font-size: 1.3rem;
    font-weight: 600;

    &__description {
        color: $grey;
    }
}
