<link rel="stylesheet" href="/src/partials/profile-info/profile-info.scss" />
<div class="profile-info">
    <span class="profile-info__title">{{ title }}</span>
    <span class="profile-info__description">{{ description }}</span>
</div>
