<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ title }}</title>
        <link rel="stylesheet" href="/src/style.scss" />
        <link rel="stylesheet" href="/src/partials/page/page.scss" />
    </head>
    <body>
        <div class="page {{ class }}">
            {{> link/link to="/src/index.html" text="На главную" class="page__main-link"}}
            {{> @partial-block}}
        </div>
    </body>
</html>
