@import "/src/styles/variables.scss";

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $inter;
}

html {
    font-size: 10px;
    color: $black;
    font-weight: 500;
}

html,
body,
#root {
    height: 100%;
}
